:root {
  --bg-color: #c0d1de;
  --bg-wrapper: linear-gradient(145deg, #fef30c, #adbcc8);

  --shadow-wrapper: 5px 5px 10px #a7b6c1, -5px -5px 10px #d9ecfb;
  --bg-span: linear-gradient(145deg, #adbcc8, #cde0ee);
  --shadow-bg-span: inset 5px 5px 10px #a7b6c1, inset -5px -5px 10px #d9ecfb;

  --surface-color: rgba(255, 255, 255, 0.1);
  --surface-color-hover: rgba(255, 255, 255, 0.05);
  --highlight-color-hover: rgba(151, 134, 134, 0);

  --switch-br-url: url(/Assets/img/sun.svg);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg-color);
  height: 100vh;
  display: flex;
  width: 90%;
  justify-content: center;
  margin: auto;
}

.wrapper {
  width: 400px;
  height: 860px;
  max-width: 600px;
  border-radius: 20px;
   padding: 2rem;
  margin: 15% auto;
  margin-top: 80px;
  overflow: hidden;
  background: var(--bg-wrapper);
  box-shadow: var(--shadow-wrapper);
}

#switch {
  position: relative;
  width: 64px;
  margin: 4px auto;
}

#switch button {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #ffffff var(--switch-br-url) no-repeat center;
  border: 0;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  animation: slide-back 0.2s;
}

#switch button:hover {
  outline: 4px solid var(--highlight-color-hover);
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  border-radius: 9999px;
  /* border: 1px solid var(--stroke-color); */
  background: var(--bg-span);
  box-shadow: var(--shadow-bg-span);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.dark {
  --bg-color: #424242;
  --bg-wrapper: linear-gradient(145deg, #000000, #4b5257);
  --shadow-wrapper: 35px 35px 70px #393939, -35px -35px 70px #4b4b4b;
  --switch-br-url: url(./Assets/img/moon-stars.svg);

  --bg-span: linear-gradient(145deg, #3b3b3b, #474747);
  --shadow-bg-span: inset 5px 5px 10px #393939, inset -5px -5px 10px #4b4b4b;
}
.dark #switch button {
  animation: slide-in 0.4s forwards;
}

@keyframes slide-in {
  from {
    left: 0;
  }

  to {
    left: 50%;
  }
}

@keyframes slide-back {
  from {
    left: 50%;
  }

  to {
    left: 0;
  }
}
