:root {
  /* body */
  /* --bg-color: #c0d1de; */

  --bg-color: linear-gradient(145deg, #fdfeff, #adbcc8);

  --text-color: #0077f2;
  /* wrapper */
  --bg-wrapper: linear-gradient(145deg, #fdfeff, #adbcc8);
  --shadow-wrapper: 5px 5px 10px #a7b6c1, -5px -5px 10px #d9ecfb;

  /* switch */
  --bg-span: linear-gradient(145deg, #adbcc8, #cde0ee);
  --shadow-bg-span: inset 5px 5px 10px #a7b6c1, inset -5px -5px 10px #d9ecfb;
  --highlight-color-hover: #0077f2;
  --switch-br-url: url(./img/sun.svg);

  /* img-area */
  --img-area-shadow: 6px 6px 12px #bebfbf, -6px -6px 12px #ffffff;
  --img-cover-filter: grayscale(0%);

  /* links */
  --bg-links: linear-gradient(145deg, #d9e4ec, #b7c0c7);
  --link-shadow: 6px 6px 12px #909da7, -6px -6px 12px #f0ffff;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: var(--bg-color);
  color: var(--text-color);
  height: 100vh;
  display: flex;
  width: 90%;
  height:fit-content;
  justify-content: center;
  margin: auto;
}
body * {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  text-transform: capitalize;
  font-weight: bold;

}

.wrapper {
  width: 400px;
  height: 860px;
  max-width: 600px;
  border-radius: 20px;
  padding: 2rem;
  margin: 15% auto;
  margin-top: 80px;
  overflow: hidden;
  background: var(--bg-wrapper);
  box-shadow: var(--shadow-wrapper);
}

#switch {
  position: relative;
  width: 64px;
  margin: 4px auto;
}

#switch button {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #ffffff var(--switch-br-url) no-repeat center;
  border: 0;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  animation: slide-back 0.2s;
}

#switch button:hover {
  outline: 4px solid var(--highlight-color-hover);
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  border-radius: 9999px;
  background: var(--bg-span);
  box-shadow: var(--shadow-bg-span);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.img-area {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 19rem;
  height: 19rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 50%;
  box-shadow: var(--img-area-shadow);
}

.img-cover {
  width: 18rem;
  height: 18rem;
  margin-top: 0.8rem;
  object-fit: cover;
  border-radius: 50%;
  filter: var(--img-cover-filter);
  transition: filter 0.02s;
}
p {
  font-size: 20px;
}

/* links */
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0px;
}

ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 24px;
  text-decoration: none;
  font-size: 18px;
  border-radius: 8px;
  background: var(--bg-links);
  box-shadow: var(--link-shadow);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  font-weight: 700;
  transition: background 0.2s;
}

ul li a:hover {
  background: rgb(66 64 64 / 12%);
  border: 1px solid var(--highlight-color-hover);
}
#social-links {
  display: flex;
  width: 50%;
  padding: 24px 0;
  font-size: 30px;
  /* justify-content: center; */
  justify-content: space-around;
  align-items: center;
  margin: auto;

}
#social-links{
    font-size: 25px;
}

#social-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 50%;
  transform: background 0.2s;
  border-radius: 13px;
  background: var(--bg-span);
  box-shadow: var(--shadow-bg-span);
}

#social-links a:hover {
  background: var( --link-shadow);
  border: 1px solid var(--highlight-color-hover);
}

footer {
  padding: 24px 0;
  text-align: center;
}

/* Dark theme */

.dark {
  /* --bg-color: #424242; */
  --bg-color: linear-gradient(145deg, #000000, #4b5257);
  --text-color: #ffffff;
  --bg-wrapper: linear-gradient(145deg, #000000, #4b5257);
  --shadow-wrapper: 35px 35px 70px #393939, -35px -35px 70px #0c0c0c;
  --switch-br-url: url(./img/moon-stars.svg);

  --bg-span: linear-gradient(145deg, #3b3b3b, #474747);
  --shadow-bg-span: inset 5px 5px 10px #393939, inset -5px -5px 10px #4b4b4b;
  --highlight-color-hover: #6e6e6e;

  --img-area-shadow: 6px 6px 12px #050606, -6px -6px 12px #18191a;
  --img-cover-filter: grayscale(100%);

  --bg-links: #2b2f32;
  --link-shadow: 6px 6px 12px #373737, -6px -6px 12px #232425;
}
.dark #switch button {
  animation: slide-in 0.4s forwards;
}

@keyframes slide-in {
  from {
    left: 0;
  }

  to {
    left: 50%;
  }
}

@keyframes slide-back {
  from {
    left: 50%;
  }

  to {
    left: 0;
  }
}
